<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/icomoon/style.css" rel="stylesheet">
    <link href="/uniform/default.css" rel="stylesheet">
    <link href="/switchery/switchery.min.css" rel="stylesheet">
    <link href="/nvd3/nv.d3.min.css" rel="stylesheet">

    <link href="/css/ecaps.min.css" rel="stylesheet">
</head>
<body class="error-page">
<!-- Page Content -->
<div class="page-container page-error">
    <div class="page-content">
        <!-- Page Inner -->
        <div class="page-inner">
            <div id="main-wrapper" class="container">
                <div class="row">
                    <div class="col-md-6 center">
                        <h1 class="error-page-logo">500</h1>
                        <p class="error-page-top-text">Oops.. Something went wrong..</p>
                        <p class="error-page-bottom-text">We can't seem to find the page you're looking for.</p>
                        <a href="#" class="btn btn-primary m-b-xxs">Help Center</a>
                        <a href="/static" class="btn btn-default m-b-xxs">Return Home</a>
                    </div>
                </div><!-- Row -->
            </div><!-- Main Wrapper -->
        </div><!-- /Page Inner -->
    </div><!-- /Page Content -->
</div>

<!-- Javascripts -->
</body>
</html>